<app-header titulo="Pagina Dos"></app-header>

<ion-content [fullscreen]="true">
    <ion-list *ngIf="carga">
        <ion-item-sliding *ngFor="let item of usuarios | async">
            <ion-item-options side="start">
                <ion-item-option color="success" expandable (click)="favorite(item.name)">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="share(item.name)">
                    <ion-icon slot="icon-only" name="share-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <div class="ion-activatable ripple-parent rectangle">
                <ion-item (click)="onClick(item)">
                    <ion-label>
                        <h3>{{item.name}}</h3>
                        <p> {{item.email}} </p>
                    </ion-label>
                    <ion-label slot="end" class="ion-text-end text-small">{{item.phone}}</ion-label>
                </ion-item>
            </div>
    </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="!carga">
        <ion-item *ngFor="let item of usuarios | async">
            <ion-label>
                <h3>
                    <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text> 
                </p>
            </ion-label>
            <ion-label slot="end" class="ion-text-end text-small">
                <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>


    